<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ala.stockcheck.mapper.StockCheckMapper">

	<!-- 棚卸タスク登録 -->
	<insert id="insertCheck"
		parameterType="com.ala.stockcheck.entity.StockCheck">

		INSERT INTO stock_check
		(
		create_time,
		status
		)
		VALUES
		(
		#{createTime},
		#{status}
		)

	</insert>
	<!-- 差異計算 -->
	<select id="selectItemsByCheckId"
		resultType="com.ala.stockcheck.entity.StockCheckItem">
		SELECT * FROM stock_check_item
		WHERE check_id = #{checkId}
	</select>

</mapper>